/* Will adjust colors later*/


body {
    background-image: url(/assets/Background_Photo.webp);
}

.Top-bar {
    
    margin: auto;
    height: 4em;
}

#title {
    margin: 2px 5px 100px 2px;
}

#generate {
    padding-left: 20px;
    color: White;
}

#generate-button {
    background-color: gray; /* Green */
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    margin-left: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;  
}

.roles {
    color : white;
    display: block;
}

