/* 
    TO DO : Fix styling 
*/


body {
    background-color: black;
    
}

.Top-bar {
    margin: auto;
    height: 4em;
}

#title {
    margin: 15px 50px 50px 2px;
}

#generate{
    padding-left: 20px;
    color: White;
}

.option-buttons button{
    background-color: rgb(95, 94, 94); /* Green */
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 15px 35px;
    margin-left: 20px;
    margin-bottom: 15px;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; 
}

.option.active {
    background-color: rgb(255, 255, 255);
}

#generate-button {
    background-color: gray; /* Green */
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 15px 27px;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;  
}

#generate-button:active {
    background-color: rgb(48, 47, 47);
}

.roles {
    color : white;
    display: flex;
    flex-wrap: grid;
    margin-top: 40px;
}

#individual-role {
    width: 10%; /* adjust as desired */
    height: 0;
    padding-bottom: 20%; /* adjust as desired */
    position: relative;
    overflow: hidden;
}


#individual-role p {
    font-size: x-large;
    width: 100%;
    text-align: center;  
}

#individual-role img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    padding-left: 50px;
    border-radius: 25%;
        
    
}

#disclaimer-message {
    color: white;
}